<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="CBell" />
    <meta name="keywords" content="calebsour" />
    <meta name="description" content="Caleb Sour | Home" />
    <meta property="og:title" content="Caleb Sour | Home" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.calebsour.com/" />
    <meta property="og:image" content="/images/headers/logo.png" />
    <meta property="og:description" content="Caleb Sour | Home" />

    <title>CB | Home</title>

    <link rel="stylesheet" type="text/css" href="/css/main.min.css"/>
    <link rel="shortcut icon" href="/images/headers/logo.png"/>
</head>
    <body></body>
</html>